.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  padding-bottom: 80px;
}
.form {
  width: 500px;
  height: 500px;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
}
.title {
  color: #0d4164;
}
.inputSmall {
    flex: 1;
    height: 50px;
    padding-left: 10px;
}
.inputSmall:first-child {
  margin-right: 5px;
}
.inputLarge {
   width: 100%;
  height: 50px;
  padding-left: 10px;
}
.textarea{
    width: 100%;
    padding-left: 10px;
}
.button{
    font-size: 16px;
    margin-top:20px;
    border: none;
    background-color: #66a6b0;
    color: black;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
}
@media screen and (max-width: 480px) {
    .form {
      width: 100%;
    }
    .inputS:first-child {
      margin: 0;
    }
  }